version: '3'
services:
  dnsmasq-conf:
    environment:
      HOST_IP: 172.22.26.1

networks:
  default:
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "172.22.26.1"
    ipam:
      config:
        - subnet: 172.22.26.32/27
