version: '3'
services:
  dnsmasq-conf:
    environment:
      HOST_IP: 172.22.26.1

  # in ports override IP address of docker0 based on your local machine IP.
   dns:
      ports:
        - "172.17.0.1:53:53/tcp"
        - "172.17.0.1:53:53/udp"

networks:
  default:
    ipam:
      config:
        - subnet: 172.22.26.32/27
