version: '3'
services:
  dns:
    restart: always
    image: 4km3/dnsmasq:latest
    command: --hostsdir=/etc/dnsmasq.d --user=root --dns-forward-max=1500 --no-ping --clear-on-reload --log-queries --log-facility=-
    volumes:
      - dnsmasq.d:/etc/dnsmasq.d
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    cap_add:
      - NET_BIND_SERVICE
      - NET_ADMIN

  dnsmasq-conf:
    restart: always
    depends_on:
      - dns
    image: jwilder/docker-gen:latest
    command: -notify-sighup autodns-dns-1 -watch -wait 500ms:2s /etc/docker-gen/dnsmasq.tpl /etc/dnsmasq.d/default
    volumes:
      - dnsmasq.d:/etc/dnsmasq.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./configs/dnsmasq/dnsmasq.tpl:/etc/docker-gen/dnsmasq.tpl

  haproxy:
    restart: always
    image: haproxy:alpine
    command: haproxy -d -f /usr/local/etc/haproxy/haproxy.cfg
    network_mode: host
    volumes:
      - haproxy:/usr/local/etc/haproxy
    environment:
      HOSTNAME: haproxy.local

  haproxy-conf:
    restart: always
    depends_on:
      - haproxy
    image: jwilder/docker-gen:latest
    command: -notify-sighup autodns-haproxy-1 -watch -wait 500ms:2s /etc/docker-gen/haproxy.tpl /usr/local/etc/haproxy/haproxy.cfg
    volumes:
      - haproxy:/usr/local/etc/haproxy
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./configs/haproxy/haproxy.tpl:/etc/docker-gen/haproxy.tpl

volumes:
  dnsmasq.d:
  haproxy:
